.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    background: #ffffff;

    .title{
        font-weight: 500;
        font-size: 22px;
        margin: 0;
        color: #166987;
        margin: 0 0 30px;
        text-align: center;
    }

    .table{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        border: 1px solid #166987;
        border-radius: 6px;
        box-shadow: 0 0 7px #c7e1e9;
        background: #fff;
    }

    .col{
        display: inline-flex;
        flex-direction: column;
        width: 33.33%;

        &:nth-child(1){
            width: 50%;
        }

        &:nth-child(2) {
            width: 15%;

            .cell{
                padding: 12px 6px;
                font-size: 14px;
            }
        }
        
        &:nth-child(3){
            width: 35%;

            .cell{
                border-right: 0;
                padding: 12px 6px;
                font-size: 14px;
            }
        }

        .cell, .headCell, .leftCell, .rightCell{
            padding: 12px 8px;
            min-height: 40px;
            text-align: right;
            border: 1px solid #166987;
            border-width: 1px 1px 0 0;
            font-size: 15px;
            line-height: 26px;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            color: #166987;
        }

        .headCell{
            height: 100px;
            font-weight: 500;
            font-size: 17px;
            border-width: 0 1px 0 0;
            padding: 10px 12px 10px 10px;
            color: #222222;
        }

        .leftCell{
            font-weight: 500;
            font-weight: 17px;
            color: #222222;
            text-align: left;
            justify-content: flex-start;
            letter-spacing: -.3px;
        }

        .rightCell{
            border-right: 0;
        }
    }

    @media screen and (min-width: 800px) {
        background: 0;
        padding: 0;

        .wrapper{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background: #ffffff;
            padding: 40px 40px;
        }
    }

    @media screen and (min-width: 768px) {
        .title{
            font-size: 26px;
        }

        .col{
            .cell{
                font-size: 16px !important;
            }

            .leftCell{
                font-size: 16px;
            }

            .headCell{
                font-size: 17px;
            }
        }
    }
}