@use '../../themes/mixins';

.container {
    @include mixins.disable-scrollbar;
    max-height: 300px;
    overflow: auto;
    background: #ffffff;
    border-radius: 6px;
    // box-shadow: 0 0 5px #c7e1e9;
    border: 1px solid #dddddd;

    button {
        width: 100%;
        text-align: left;
        height: 40px;
        margin: 0 0 4px;
        border: 1px solid #fff;
        color:#222222;
        padding: 4px 12px 0;
        border-radius: 4px;
        font-size: 16px;
        background: #ffffff;
        border-bottom: 1px solid #1769871f;

        &:last-child {
            margin: 0;
            border-bottom: 0;
        }

        &.selected{
            background: #166987 !important;
            color: #fff;
        }

        &.keyboardSelected {
            background: #166987 !important;
            color: #fff;
        }
    }
}
