.container{
    position: relative;
    overflow: hidden;
    padding: 24px 0;
    margin: 10px 0 10px;
    background: linear-gradient(240deg, #2c6172, #176987);
    justify-content: center;
    display: none;

    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 120%;
        z-index: 0;
        opacity: .08;
        filter: grayscale(.8);
    }

    .wrapper{
        color: #fff;
        font-size: 21px;
        line-height: 32px;
        font-weight: 500;
        text-align: center;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > button{
            font-size: 18px;
            background: transparent;
            padding: 0;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}