.container {
    background: transparent;
    color: #fff;
    border: 1px solid #ffffff;
    width: 182px;
    min-width: 182px;
    font-size: 16px;
    border-radius: 6px;
    position: relative;
    height: 44px;

    .selection {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 190px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 10;

        .dropdown {
            width: 94px;
            min-width: 94px;

            > button {
                height: 38px;
                border-color: transparent;
                background-color: transparent;
                padding: 0 8px 0 2px;

                &::after {
                    right: 15px;
                }
            }

            &:first-child {
                width: 76px;
                min-width: 76px;
                left: -1px;

                > button {
                    padding: 0 0px 0 10px;

                    &::after {
                        right: 2px;
                    }
                }
            }
        }

        > span {
            margin: 0 4px;
        }
    }

    .label {
        position: absolute;
        color: #ffffff;
        display: inline-block;
        z-index: 1;
        padding: 2px 4px;
        transition: top linear 0.15s, font-size linear 0.15s;
        background: #176987;
        font-size: 12px;
        top: -10px;
        left: 10px;
        letter-spacing: 0;
    }
}
